<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h2 class="footer-heading mb-4">Sobre Nosotros</h2>
        <p>
          Muy lejos, detrás de las montañas de palabras, lejos de los países
          Vokalia y Consonantia, viven los textos ciegos.
        </p>
        <ul class="list-unstyled social">
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-instagram"></span></a></li>
          <li><a href="#"><span class="icon-twitter"></span></a></li>
          <li><a href="#"><span class="icon-linkedin"></span></a></li>
        </ul>
      </div>

      <div class="col-lg-8 ml-auto">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">Enlaces Rápidos</h2>
            <ul class="list-unstyled">
              <li><a routerLink="/about">Sobre Nosotros</a></li>
              <li><a routerLink="/testimonials">Testimonios</a></li>
              <li><a routerLink="/terms">Términos del Servicio</a></li>
              <li><a routerLink="/privacy">Política de Privacidad</a></li>
              <li><a routerLink="/contact">Contacto</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">Recursos</h2>
            <ul class="list-unstyled">
              <li><a routerLink="/about">Sobre Nosotros</a></li>
              <li><a routerLink="/testimonials">Testimonios</a></li>
              <li><a routerLink="/terms">Términos del Servicio</a></li>
              <li><a routerLink="/privacy">Política de Privacidad</a></li>
              <li><a routerLink="/contact">Contacto</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">Soporte</h2>
            <ul class="list-unstyled">
              <li><a routerLink="/about">Sobre Nosotros</a></li>
              <li><a routerLink="/testimonials">Testimonios</a></li>
              <li><a routerLink="/terms">Términos del Servicio</a></li>
              <li><a routerLink="/privacy">Política de Privacidad</a></li>
              <li><a routerLink="/contact">Contacto</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">Compañía</h2>
            <ul class="list-unstyled">
              <li><a routerLink="/about">Sobre Nosotros</a></li>
              <li><a routerLink="/testimonials">Testimonios</a></li>
              <li><a routerLink="/terms">Términos del Servicio</a></li>
              <li><a routerLink="/privacy">Política de Privacidad</a></li>
              <li><a routerLink="/contact">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            Todos los derechos reservados | Esta plantilla fue creada con <i class="icon-heart text-danger"></i>
            por <a href="https://colorlib.com" target="_blank">JVCorp</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
