<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5 section-2-title">
      <div class="col-md-6">
        <h2 class="mb-4">Conoce a Nuestro Equipo</h2>
      </div>
    </div>
    <div class="row align-items-stretch">
      <div *ngFor="let member of team" class="col-lg-4 col-md-6 mb-5">
        <div class="post-entry-1 h-100 person-1">
          <img [src]="member.image" alt="Imagen" class="img-fluid">
          <div class="post-entry-1-contents">
            <span class="meta">{{ member.role }}</span>
            <h2>{{ member.name }}</h2>
            <p>{{ member.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
