<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="assets/images/hero_1.jpg" alt="Imagen" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 ml-auto">
        <h2>Nuestra Historia</h2>
        <p>Desde nuestros inicios, hemos trabajado incansablemente para ser líderes en el sector de alquiler de autos. Nuestro objetivo siempre ha sido brindar servicios excepcionales y adaptarnos a las necesidades cambiantes de nuestros clientes.</p>
        <p>A través de los años, hemos crecido gracias a la confianza de nuestros usuarios y la pasión de nuestro equipo por mejorar continuamente.</p>
      </div>
    </div>
  </div>
</div>
