<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
        <img src="assets/images/hero_2.jpg" alt="Imagen" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 mr-auto">
        <h2>Compañía de Autos</h2>
        <p>Nos dedicamos a ofrecer los mejores servicios de alquiler de autos para que nuestros clientes tengan una experiencia única y sin complicaciones.</p>
        <p>Con años de experiencia en el sector, nos enorgullecemos de proporcionar soluciones confiables, rápidas y seguras para cada cliente.</p>
      </div>
    </div>
  </div>
</div>
