.step {
  position: relative;
  .number {
    font-weight: 900;
    color: #007bff;
  }

  .step-inner {
    padding: 20px;
    background: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);

    h3 {
      color: #000;
      font-weight: 700;
    }

    p {
      color: #666;
    }
  }
}
