<div class="site-section">
  <div class="container">
    <h2 class="section-heading"><strong>¿Cómo funciona?</strong></h2>
    <p class="mb-5">Pasos sencillos para comenzar</p>
    <div class="row mb-5">
      <div class="col-lg-4 mb-4">
        <div class="step">
          <span>1</span>
          <div class="step-inner">
            <span class="number text-primary">01.</span>
            <h3>Selecciona un auto</h3>
            <p>Elige el auto ideal para tus necesidades entre nuestras opciones.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="step">
          <span>2</span>
          <div class="step-inner">
            <span class="number text-primary">02.</span>
            <h3>Llena el formulario</h3>
            <p>Proporciona la información requerida para tu reserva.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="step">
          <span>3</span>
          <div class="step-inner">
            <span class="number text-primary">03.</span>
            <h3>Realiza el pago</h3>
            <p>Confirma tu reserva realizando el pago de manera segura.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
